*{
    background-color: #F5F0E3;
    margin: 0;
    padding: 0;
  }
  a:link {
    text-decoration: none;
    outline: none;
  }

a:visited,
a:link {
  text-decoration: none;
  color: #E5E5CB;
}

a:hover {
  color: #D5CEA3;
  text-decoration: none;
}


/*CLASSES USED*/
.container-fluid {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  min-height: 79vh;
  display: flex;
  flex-wrap: wrap;
}

.links {
  text-align: left;
  margin: 1rem 0;
  font-size: 1rem;
}

.list-group {
  font-style: italic;
  padding: 0.5rem;
}
  
.list-group-item {
  background-color: #2A5D67;
  border: none;
  color: #EEEEEE;
  text-align: left;
  padding: 0.25rem 0;
}
  
.list-group-item:hover {
  color: #181D31;
}

.col-md-4 {
  text-align: center;
}  